body{
    margin-top: 20px;
    font-size: 20px;
    
    margin-left: 200px;
   
}
form{
    width: 500px;
    border: 1px solid black;
    margin-left: 200px;
    padding: 10px;
    justify-content: center;
    background-color: rgb(160, 155, 190);
    
}
input{
    width: 200px;
   border-radius: 20px;
}
.h1{
    text-align: center;
    margin-left: 200px;
}